.info{
    background-color: rgb(27, 177, 204);
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 20px 50px;
}
.info ul {
    display: flex;
    margin-right: 20px;
    justify-content: space-between;
}
.info ul li {
    margin-left: 20px;
    margin: 10px 20px;
}
.info ul li a{
    padding: 20px 20px;
}
.info ul li:hover{
    background-color: azure;
}
.content{
    display: flex;
}
.content img{
    margin-top: 40px;
    margin-left: 30px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: gray;
}
li{
    margin-top: 45px;
    margin-left: 30px;
}
